.cartWrapper {
  position: relative;
}

.cartBtn {
  margin-right: 22px;
  border: none;
  background-color: inherit;
}

.cartBtnQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20%;
  right: 40%;
  width: 19px;
  height: 13px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  background: #ff7e1b;
  border-radius: 6.5px;
}

.cartModal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 112%;
  left: 2%;
  right: 2%;
  z-index: 10;
  background-color: white;
  height: 256px;
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
}

.title {
  padding-top: 24px;
  padding-bottom: 27px;
  padding-left: 24px;
  border-bottom: 1px solid #e4e9f2;
  font-weight: 700;
  color: #1d2026;
}

.cartContents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}

.emptyCart {
  font-weight: 700;
  color: #69707d;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.itemImage {
  width: 50px;
  border-radius: 4px;
}

.itemDetails {
  color: #69707d;
  line-height: 26px;
}

.totalPrice {
  font-weight: 700;
  color: #1d2026;
}

.delete {
  display: block;
  border: none;
  background-color: inherit;
}

.checkout {
  display: block;
  width: 100%;
  background: #ff7e1b;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 18px;
  border: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cartWrapper {
    margin-right: 46px;
  }

  .cartBtn {
    cursor: pointer;
  }
}
