.wrapper {
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 88px;
}

.quantitywrapper {
  margin-bottom: 16px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f8fd;
  border-radius: 10px;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
  color: #1d2026;
}

.button {
  border: none;
  background-color: inherit;
}

.addtocart {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  border-radius: 10px;
  background-color: #ff7e1b;
  font-weight: 700;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 50px -20px #ff7e1b;
}

.addtocart::before {
  content: url(../../assets/images/icon-cart.svg);
  filter: brightness(0) invert(1);
  margin-right: 16px;
}
