.accountImage {
  width: 24px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper {
    width: 52px;
    height: 52px;
    border-radius: 50%;
  }

  .wrapper:hover {
    border: 2px solid #ff7e1b;
    cursor: pointer;
  }

  .accountImage {
    width: 100%;
  }
}
