.modal {
  display: none;
}

.expanded {
  display: block;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  height: 100%;
  max-width: 550px;
}

.closeBtn {
  margin-bottom: 24px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.closeIcon {
  scale: 1.5;
}

.closeBtn path {
  fill: white;
}

.closeBtn path:hover {
  fill: #ff7e1b;
}

@media only screen and (max-width: 992px) {
  .modal {
    display: none;
  }
}
