.imageGalleryWrapper {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.productImage {
  max-width: 100%;
}

.thumbnailsWrapper {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  border: none;
}

.button svg {
  scale: 0.8;
}

.previous {
  left: 3%;
  padding-right: 3px;
}

.next {
  right: 3%;
  padding-left: 3px;
}

@media only screen and (min-width: 992px) {
  .imageGalleryWrapper {
    width: 45%;
    height: 100%;
    overflow: visible;
  }

  .productImage {
    border-radius: 15px;
    margin-bottom: 32px;
    cursor: pointer;
  }

  .previous,
  .next {
    display: none;
  }

  .thumbnailsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .thumbnailWrapper {
    width: 20%;
    border-radius: 10px;
    overflow: hidden;
  }

  .thumbnailImage {
    width: 100%;
    height: 100%;
  }

  .thumbnailImage:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  .selectedWrapper {
    border: 2px solid #ff7e1b;
  }

  .selectedThumbnail {
    opacity: 0.75;
  }

  /* Modal styling */

  .imageGalleryWrapperInModal {
    width: 100%;
    height: auto;
  }

  .thumbnailsWrapperInModal {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .button svg {
    scale: 1;
  }

  .button:hover svg path {
    stroke: #ff7e1b;
  }

  .previousModal,
  .nextModal {
    display: block;
    top: 35%;
    width: 56px;
    height: 56px;
    cursor: pointer;
  }

  .previousModal {
    left: -5%;
  }

  .nextModal {
    right: -5%;
  }
}
